ul {
    list-style-type: none;
    display: flex;
    flex-wrap:initial;
    /* border: solid black 1px; */
    max-height:150px;
    overflow: auto;
    justify-content: start;
    padding: 20px;
}

li{
    background: rgb(166, 0, 255);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    text-wrap: nowrap;
}